@media (max-width:75em){
    .containerIndex {
        /*display:none;*/
        justify-content:left;       
    }
    .containerIndex4 {
        justify-content:left;
    }
}
@media (min-width: 1024px) {
    header {
      display: flex;
      place-items: center;
      padding-right: calc(var(--section-gap) / 2);
    }
}